.wrap{
	display: -webkit-box;
	-webkkit-box-orient: horizontal;
	height: 100px;
	width: 100%;
	background: green;
}

.a{
	width:200px;
	margin: 10px;
	background: #ccc;
}

.b, .c{
	-webkit-box-flex:1.0;
	margin: 10px;
	background: #ccc;
}
